*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}
/* 
body {
  padding: 30px;
  background: #78e5e5;
} */

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
}

a.btn-svg,
button.btn-svg {
  font-weight: 700;
  line-height: 54px;

  width: 204px;
  height: 54px;
  padding: 0;

  cursor: pointer;
  text-decoration: none;

  /* background-color: transparent; */
  background: #fff;
  /* background: #fff; */
}

a.btn-svg svg,
button.btn-svg svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

a.btn-svg svg rect,
button.btn-svg svg rect {
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;

  stroke: #000;
  stroke-width: 2;
  stroke-dasharray: 200px, 16px;
  stroke-dashoffset: 70px;
}

a.btn-svg:hover svg rect,
button.btn-svg:hover svg rect {
  stroke-dashoffset: 284px;
}

a.btn-svg span,
button.btn-svg span {
  color: #000;
}

/* radio button */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
  /* font-family: "Open Sans", helvetica, arial, sans-serif; */
  /* max-width: 305px; */
  /* margin: 3rem auto 0; */
  line-height: 1.6;
  /* color: #444; */
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
  line-height: 1.2;
}

p {
  margin: 0 0 1.6rem;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #ddd;
}

.radio-inline__input {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.radio-inline__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-right: 18px;
  border-radius: 3px;
  transition: all 0.2s;
}

.radio-inline__input:checked + .radio-inline__label {
  background: rgb(2, 1, 54);
  outline-color: #4d90fe;
  color: #78e5e5;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

.radio-inline__input:focus + .radio-inline__label {
  outline-color: #4d90fe;
  /* outline-color: #4d90fe; */
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.main {
  display: flex;
}
/* .main > div {
  width: 100%;
} */
.main,
.main > div {
  /* border: 1px solid #999; */
  padding: 10px;
}

/* table */

table {
  font-size: 150%;
  border-collapse: collapse;
  margin: 0 auto;
  padding: 0;
  width: 650px;
  table-layout: fixed;
}

table tr {
  background-color: #e6f2f5;
  padding: 0.35em;
  border-bottom: 2px solid #fff;
}
table th,
table td {
  padding: 1em 10px 1em 1em;
  border-right: 2px solid #fff;
}
table th {
  font-size: 0.85em;
}
table thead tr {
  background-color: #167f92;
  color: #fff;
}
table tbody th {
  background: #78bbc7;
  color: #fff;
}
.txt {
  text-align: left;
  font-size: 0.85em;
}
.price {
  text-align: right;
  color: #167f92;
  font-weight: bold;
}
.non {
  background: #fff;
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
    width: 80%;
  }
  table th {
    background-color: #167f92;
    display: block;
    border-right: none;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    display: block;
    margin-bottom: 0.5em;
  }
  table td {
    border-bottom: 1px solid #bbb;
    display: block;
    font-size: 0.8em;
    text-align: right;
    position: relative;
    /* padding: 0.625em 0.625em 0.625em 4em; */
    border-right: none;
  }

  table td::before {
    content: attr(data-label);
    font-weight: bold;
    position: absolute;
    left: 10px;
    color: #167f92;
  }
  table td:last-child {
    border-bottom: 0;
  }
  table tbody th {
    color: #fff;
  }
}
